
<%- include('../partials/headerhead') %>
    <div id="backgroundImage">
        <div class="aboutMainDiv">
            <div class="aboutFirstDiv">
                <h1 class="aboutFirstHead"><span>Our</span> Story</h1>
                <p>Founded with a passion for fashion and a vision to redefine the way we experience clothing, Casual
                    Country Outfitters has grown from a humble idea to a thriving fashion hub. The journey began with a
                    small team of fashion-forward thinkers who shared a common goal: to create a brand that offers not
                    just trendy designs, but a sense of belonging and empowerment.</p>
                    <img src="/media/about/pic1.png" alt="">
                </div>
            <!-- Sec Div -->
            <div class="aboutSecDiv">
                <div>
                    <h1> <span>Our</span> Commitment <span>to</span> Quality:</h1>
                    <p>We take great pride in the quality of our products. From the selection of fabrics to the
                        craftsmanship, every detail is meticulously attended to. Each piece is designed to not only make
                        you look good but also feel good, as we believe that comfort and style should always go hand in
                        hand.</p>
                </div>
                <img class="DivImg" src="/media/about/pic2.png" alt="">

            </div>
            <!-- Third Div -->
            <div class="aboutThirdDiv">
                <img class="DivImg" src="/media/about/pic3.png" alt="">
                <div>
                    <h1> <span>Our</span> Community:</h1>
                    <p>What truly sets us apart is our amazing community of fashion enthusiasts like you. We love
                        hearing your stories, seeing how you style our pieces, and embracing the diversity of our
                        customers worldwide. Connect with us on social media and become a part of the [Clothing Website
                        Name] family, where fashion knows no boundaries. </p>
                </div>


            </div>

        </div>
    </div>
    <%- include('../partials/headerbody') %>