<%- include('../partials/headerhead') %>

<div id="backgroundContact">
    <div class="textSection">
        <h1 class="headingAbout"><span class="contactAlpha">Contact</span> Us</h1>
        <p class="aboutContent">Whether you have questions about our latest collections, need help with sizing and
            fit, or simply want to share your
            thoughts on our products, our dedicated customer support team is here to lend a helping hand.</p>
    </div>
    <div class="formSection">
        <form action="/" class="contactUsForm" method="GET">
            <div class="inputsContainer">
                <h2 class="sendMesssageHeading">Send a <span class="contactAlpha">Message</span></h2>
                <input type="text" placeholder="Full Name" name="fullName" required />
                <input type="text" placeholder="Company Name " name="companyName" required />
                <input type="tel" placeholder="Contact" name="contact" required />
                <input type="email" placeholder="Email" name="email" required />
                <input type="text" placeholder="Shipping Adress" name="shippingAdress" required />
                <input type="text" placeholder="Office Adress" name="officeAdress" required />
                <label for="question" class="questionLable">Question</label>
                <textarea id="question" name="question"></textarea>
                <div class="buttonWraper">
                    <button type="submit" class="aboutUsSubmitBtn"><i class='bx bxl-telegram'></i>Submit</button>
                </div>
            </div>
            <div class="contactInfoContainer">
                <h3 class="contactInfoHeading">Contact Info</h3>
                <div class="upperSection">
                    <div class="iconNText">
                        <i class='bx bx-mobile-alt'></i>
                        <p class="contactText">(405) 555-0128</p>
                    </div>
                    <div class="iconNText">
                        <i class='bx bxs-envelope'></i>
                        <p class="contactText">Aone@gmail.com</p>
                    </div>
                    <div class="iconNText">
                        <i class='bx bxs-map'></i>
                        <p class="contactText">6391 Elgin St. Celina,
                            Delaware 10299</p>
                    </div>
                </div>
                <div class="lowerSection">
                    <div class="iconNTextLower">
                        <i class='bx bxl-facebook-circle'></i>
                        <p class="contactText">Aone1 Enterprises</p>
                    </div>
                    <div class="iconNTextLower">
                        <i class='bx bxl-twitter'></i>
                        <p class="contactText">Aone1 Enterprises</p>
                    </div>
                    <div class="iconNTextLower">
                        <i class='bx bxl-youtube'></i>
                        <p class="contactText">Aone1 Enterprises</p>
                    </div>
                    <div class="iconNTextLower">
                        <i class='bx bxl-instagram'></i>
                        <p class="contactText">Aone1 Enterprises</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('../partials/headerbody') %>