<!-- views/admin/signup.ejs -->

<%- include('../partials/loginhead') %>
    <div class="container1">
        <div class="login form">
            <p class="maintext"> User Signup</p>
            <%- include('../partials/flash') %>
                <form action="/user/signup" method="post" class="mt-3">
                    <input type="text" placeholder="First Name" id="Firstname" name="Firstname" required>
                    <input type="text" placeholder="Last Name" id="Lastname" name="Lastname" required>
                    <input type="email" placeholder="Email" id="email" name="email" required>
                    <div class="password-container">
                        <input type="password" placeholder="Create a password" id="password" name="password" required>
                        <button type="button" id="togglePassword" class="toggle-password-button">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                    <div class="password-container">
                        <input type="password" placeholder="Confirm your password" onchange="check()" id="passwordretype"
                            name="passwordretype" required>
                            <button type="button" id="togglePassword1" class="toggle-password-button">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>
                        <input type="text" placeholder="Company Name" id="companyname" name="companyname">
                            <input class="numberphone" id="phone" type="tel" name="phone" />
                        <p  style="color: white; margin: 1px;">Already have an account? <a style="color: rgba(0, 255, 76, 0.712);" href="/user/login">Log in</a></p>

                    <input type="submit" style="margin-top: 5px;" class="button" value="Signup">
                </form>
        </div>
    </div>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
        const info = document.querySelector(".alert-info");
    </script>

    <%- include('../partials/body') %>