<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet type="text/css">
    <title>Admin Panel Product Page</title>
    
     <!-- Google Web Fonts -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
 
     <!-- Font Awesome -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
 
</head>
<body>
  
    