<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/productdetail.css" rel="stylesheet type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/dist/boxicons.js' rel='stylesheet'>
    <title>Products</title>
    <style>
        .ull {
  margin: 0;
  clear: both;
  display: flex;
  flex-direction: row;
 
}

.ull li{

  margin-left: 20px;
}


.btn--{
    display: inline-block;

  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 50%;
  border: none;
  background-color: #99733900;
  margin-bottom: 10px;
}
.btn--:active{
    display: inline-block;

  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 50%;
  border: none;
  
  background-color: #997339;
  margin-bottom: 10px;
}
input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  padding: 2px 8px;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: inline-block;

  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 50%;
  
  background-color: #99733900;
  margin-bottom: 10px;
}

input[type="checkbox"]:checked + label {
  
  color: white;
  padding: 2px 8px;
  font-size: 12px;
  background-color: #997239;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    </style>
</head>

<body>